<section class="register">
    <div class="header">
      <h2>Sign Up</h2>
      
    </div>
  
    <div class="body">
      <form [formGroup]="addUser">
        <div class="user_name">
          <input type="text" placeholder="Name" formControlName="name" />
          <input type="text" placeholder="UserName" formControlName="username" />
          <ng-container *ngIf="validUsername; else faX">
            <app-fa-icon class='green' icon='faSolidCheckCircle'></app-fa-icon>
          </ng-container>
          <ng-template #faX>
            <app-fa-icon class="red" icon='faSolidTimesCircle'></app-fa-icon>
          </ng-template>
        </div>
  
        <div class="email_password">
          <input type="text" formControlName="email" placeholder="email" />
          
          <input type="text" formControlName="password" placeholder="password" />
        </div>
  
       <br><br>
       <button type="submit" class="submit-button" (click)="postUser(selectedUser)" [disabled]="addUser.invalid">
        Sign Up
      </button> 
  
            
      </form>
    </div>
  </section>
  
