<div style="height: 80vh;">
  <mat-toolbar color="primary" >
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Problox<mat-icon>group_work</mat-icon></span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md >
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <mat-menu #topgameMenu="matMenu">
          <button mat-menu-item routerLink="games/users-games-list">All Games</button>
          <button mat-menu-item routerLink="games/create-game">Add Game</button>
          <button mat-menu-item routerLink="join-game" >Play Game</button>
          </mat-menu>
        <a mat-button  [matMenuTriggerFor]="topgameMenu" >Games</a>

        <mat-menu #topmerchMenu="matMenu">
          <button mat-menu-item routerLink="merch">Buy Merch</button>
          <button mat-menu-item routerLink="create-merch">Create Merch</button>
          </mat-menu>
        <a mat-button [matMenuTriggerFor]="topmerchMenu">Merch</a>

        <mat-menu #topchatMenu="matMenu">
          <button mat-menu-item routerLink="create-message">Create-Message</button>
          </mat-menu>
        <a mat-button [matMenuTriggerFor]="topchatMenu">Chat</a>

        <a routerLink="contact-page" mat-button>Contact</a>
        <a routerLink="login" mat-button>Login</a>
        <a routerLink="register" mat-raised-button color="accent">Sign Up</a>
        <a href="#" mat-button><mat-icon>logout</mat-icon></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav class="sidenav">
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item><mat-icon>clear</mat-icon></a>
        <mat-menu #gameMenu="matMenu">
          <button mat-menu-item routerLink="games/users-games-list" (click)="sidenav.toggle()">All Games</button>
          <button mat-menu-item routerLink="games/create-game" (click)="sidenav.toggle()">Add Game</button>
          <button mat-menu-item routerLink="join-game" (click)="sidenav.toggle()">Play Game</button>
          </mat-menu>
        <a [matMenuTriggerFor]="gameMenu" mat-list-item>
          Games<mat-icon>unfold_more</mat-icon></a>

        <mat-menu #merchMenu="matMenu">
          <button mat-menu-item routerLink="merch" (click)="sidenav.toggle()">Buy Merch</button>
          <button mat-menu-item routerLink="create-merch" (click)="sidenav.toggle()">Create Merch</button>
          </mat-menu>
        <a  [matMenuTriggerFor]="merchMenu" mat-list-item>
          Merch<mat-icon>unfold_more</mat-icon></a>
        <a routerLink="create-message" mat-list-item (click)="sidenav.toggle()">
          <mat-icon> chat</mat-icon>
        </a>
        <a routerLink="contact-page" mat-list-item (click)="sidenav.toggle()">
          <mat-icon> email</mat-icon>
        </a>
        <!-- <a href="#" mat-list-item>Sign Up</a>
        <a href="#" mat-list-item>Login</a>
        <a href="#"mat-list-item>Logout</a> -->
        
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item routerLink="login" (click)="sidenav.toggle()">Login</button>
          <button mat-menu-item routerLink="register" (click)="sidenav.toggle()">Sign Up</button>
          <button mat-menu-item routerLink="logout" (click)="sidenav.toggle()"><mat-icon>logout</mat-icon></button>
          </mat-menu>
        <a [matMenuTriggerFor]="profileMenu" mat-list-item>
          <mat-icon>account_circle</mat-icon>
          <mat-icon>unfold_more</mat-icon></a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content fxFlexFill>
      <div class="welcome">Welcome to Problox</div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>