.sidenav {
  width: 150px;
  background-color: rgb(43, 226, 217);
  }

div.welcome {
    text-align: center;
    color: blueviolet;
    padding: 20px;
    text-shadow: 2px 2px red;
    font-size: 30px;
}

.mat-list-item {
    color: blue;
}

.menu-spacer {
    flex: 1 1 auto;
  }
  
