<div *ngIf="createMerchMsg && (!createMerchForm.dirty)" [ngClass]="getErrorClassValue()" class="msg-div">
    {{createMerchMsg}}
</div>

<div>
    <h2>Create Product Form</h2>
    <form [formGroup]="createMerchForm">
        <label for="name">Product Name</label>
        <input type="text" formControlName="name">

        <label for="price">Price</label>
        <input type="number" min=0 onkeypress="return (event.charCode === 46) || event.charCode >= 48 && event.charCode <= 57" formControlName="price">

        <label for="description">Description</label>
        <input type="text" formControlName="description">

        <label for="imgUrl">ImgUrl</label>
        <input type="text" formControlName="imgUrl">

        <button [disabled]="createMerchForm.invalid" (click)="createProduct()">Create new product</button>
    </form>
</div>

