div {
    margin: 10px;
}

img {
    width: 200px;
    height: auto;
}

.price {
    color: rgb(151, 47, 47);
    font-weight: bold;
}

.main-div {
    display: flex;
}

.merch-container-div {
    display: block;
}

.merch-details-div {
    display: inline-block;
    padding: 10px;
    width: 200px;
    word-wrap: break-word;
}

.merch-details-div:hover {
    cursor: pointer;
}

.merch-name:hover {
    cursor: pointer;
    color: rgb(175, 58, 47);
}
