<h2>Add a Game!</h2>
<div>
  <form [formGroup]="addGame" (ngSubmit)="postGame()">
    <div>
      <mat-form-field appearance="outline" class="form-element">
        <mat-label>Name: </mat-label>
        <input type="text" matInput placeholder="Required" formControlName="name" required/>
        <mat-error *ngIf="addGame.controls.name.errors"> Required. Name should have 3 - 25 characters </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Description: </mat-label>
        <textarea type="text" matInput placeholder="Required" formControlName="description" required> </textarea>
        <mat-error *ngIf="addGame.controls.description.errors"> Required. Should not be more than 50 characters</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Price: </mat-label>
        <input type="text" matInput currencyMask placeholder="0.00" formControlName="price" required/>
        <mat-error *ngIf="addGame.errors?.tierValidate">Price or Tier is incorrect</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Image URL: </mat-label>
        <input type="text" matInput placeholder="Optional" formControlName="imgUrl"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Tier: </mat-label>
        <mat-select name="tier" formControlName="tier" required>
          <mat-option [value]="null" disabled>Select a tier</mat-option>
          <mat-option *ngFor="let tier of tiers" [value]="tier">{{tier}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button type="button" (click)="postGame()">Add</button>
  </form>
</div>

