.main-div {
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.merch-div {
    display: flex;
    margin: 20px;
    padding: 20px;
}

img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.flex-child-div {
    word-wrap: break-word;
    margin: 10px;
    flex: 1;
}

.name {
    font-size: 25px;
    word-wrap: break-word;
    line-height: 1.6;
}

.price {
    font-size: 20px;
    color: rgb(151, 47, 47);
}

.desc {
    margin-top: 10px;
    word-wrap: break-word;
}

button {
    width: 150px;
    height: 50px;
    background-color: rgb(71, 71, 168);
    color: white;
    font-size: large;
    border-style: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(39, 39, 105);
}

